<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PurchaseSellStock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PurchaseSellStock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PurchaseSellStock.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>豆豆进销存系统</value>
            </setting>
            <setting name="HomePage" serializeAs="String">
                <value>http://www.baidu.com</value>
            </setting>
            <setting name="HelpPage" serializeAs="String">
                <value>http://www.baidu.com</value>
            </setting>
            <setting name="VersionType" serializeAs="String">
                <value>单机版</value>
            </setting>
        </PurchaseSellStock.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PurchaseSellStock.Properties.Settings>
            <setting name="MachineSerial" serializeAs="String">
                <value />
            </setting>
            <setting name="NeedLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastLoginName" serializeAs="String">
                <value>管理员</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="Verify" serializeAs="String">
                <value>False</value>
            </setting>
        </PurchaseSellStock.Properties.Settings>
    </userSettings>
</configuration>